.my-card {
    background-color: #fbfbfb;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    font-family: Arial, Helvetica, sans-serif;
  }
  